html, body { 
   height: 100%;
}

/* Remove webkit built-in stylings */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.searchHeader {
    margin: auto;
    height: 33px;
    padding: 12px;
    margin: -10px -10px 0 -10px;
    background-color: #694489; /* purple rain */
}

.search-tool {
    float: right;
}

#search-query {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 32px;
    padding: 5px 27px 6px 12px;
    margin: 0 24px 0;
    font-size: 12px;
    line-height: 1;
    color: #292f33;
    border: 3px solid #eee;
    border-radius: 16px;
    /*transition: all .2s ease-in-out;*/
}

#search-query:focus {
    outline: 0;
}

.search-button {
    display: inline-block;
    width: 50px;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1;
    margin: 0 0 0 -84px;
    border-radius: 16px;
    background-color: #eee;
}

.search-button:focus {
    outline: none;
}

.container {
    padding: 10px;
}

.center {
    display: inline-block;
    margin: 0 auto;
}

.lb-overlay {
    display: none;
    position: fixed; 
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.lb-content {
    display: none;
    position: fixed;
    left: 15%;
    padding: 48px;
    border: 4px solid gray;
    background-color: white;
    z-index: 1002;
    overflow: scroll;
}

.lb-title {
    z-index: 1000;
    text-align: center;
    position: absolute;    
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
    width: 100%;
    margin: 0 0 0 8px;
}

.textright {
    float: right;
}

.thumbnail-wrapper {
   width: 25%;
   padding-bottom: 25%;
   position: relative;
   overflow: hidden;
   float: left;
}

.thumbnail {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    margin: 8px auto; 
    padding: 8px;
    overflow: hidden;

}

.thumbnail:hover {
    opacity: 0.5;
}

.thumbnail-title {  
    visibility: hidden;
    z-index: 1000;
    text-align: center;
    position: absolute;    
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 8px 8px 8px 0;
    width: 100%;
    margin: 0 0 0 8px;
    background-color: black;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
}

.nav {
    position: absolute;
    height: 50px;
    width: 50px;
}

.nav-prev {
    left: 0;
}

.nav-next {
    right: 0;

}

.center-vertical {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center-horizontal {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.bottom {
    top: 100%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

}

.more-bottom {
    top: 120%;
    -webkit-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    transform: translateY(-120%);
}
/* Responsive design:; screen specifics */
@media only screen and (max-width : 480px) {
   /* smartphone view: 1 tile */
   .thumbnail-wrapper {
      width: 100%;
      padding-bottom: 100%;
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /*  tablet view: 2 tiles */
   .thumbnail-wrapper {
        width: 50%;
        padding-bottom: 50%;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* notebook: 3 tiles */
   .thumbnail-wrapper {
        width: 33.3%;
        padding-bottom: 33.3%;
   }

   .thumbnail-title {
        font-size: 18px;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* desktop: 4 tiles */
   .thumbnail-wrapper {
        width: 25%;
        padding-bottom: 25%;
   }
}


